<h3>Новости</h3>
{{#if news.length}}

<div class="row">
  {{#each news}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-image ">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="description">{{description}}</p>
      </div>
      <div class="card-action actions">
        <a href="/news/{{id}}">Открыть новости</a>
        <a href="/news/{{id}}/edit?allow=true">Редактировать</a>
        <a href="/news/{{id}}/delete?allow=true">Удалить</a>
      </div>
    </div>
  </div>
  {{/each}}
  
</div>
{{else}}
<p>Новостей пока нет</p>
{{/if}}