<div class="news_item">
    <h2>{{ title }}</h2>
    <img src="{{ news.img }}" alt="{{ title }}">
    <p class="description">{{ news.description }}</p>
    <small class="text-muted">Last updated : {{news.updatedAt}}</small>
</div>